<!DOCTYPE idea-plugin PUBLIC 'Plugin/DTD' 'http://plugins.intellij.net/plugin.dtd'>
<idea-plugin xmlns:xi="http://www.w3.org/2001/XInclude">
  <id>txtPersistencePlugin</id>
  <name>migrationTestNameFromXML</name>
  <description>migrationTest for DiffusersSynopsis</description>
  <idea-version since-build="193.1" />
  <!--No idea what the idea-version does-->
  
  <depends>jetbrains.mps.core</depends>
  
  <extensions defaultExtensionNs="com.intellij">
    <mps.ModelFactoryProvider implementationClass="txtPersistence.txtPersistence.txtModelPersistence" />
    <mps.LanguageLibrary dir="" />
    <!--These should register the custom storage format--> 
  </extensions>
</idea-plugin>